*.csv filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
data/Telco_customer_cuhrn_preprocessed.csv filter=lfs diff=lfs merge=lfs -text
